<ul type='none'>  
{% for blog in blogs %}        
  <li style="margin:30px auto">
    <table width='100%'>
      {# 第一行 #}
      <tr>
        <td rowspan="4" width='15%'>
          <table>
            <tr>
              <td>
                <img src= {% if blog['avatar'] %}
                            static/images/{{blog['avatar']}}
                          {% else %}
                            static/images/default_avatar.png
                          {% end %}
                  alt="加载中..." width="128px" height="128px">
              </td>
            </tr>
            <tr>
              <td align='center'>
                <p class="text">{{blog['author']}}</p>
              </td>
            </tr>
          </table>
        </td>
        <td>{{blog['title']}}</td>
      </tr>
      {# 第二行 #}
      <tr>
        <td>{{blog['tags']}}</td>
      </tr>
      {# 第三行 #}
      <tr>
        <td>
          {{blog['content']}}
        </td>
      </tr>
      {# 第四行 #}
      <tr>
        <td align='right'>
          {% if blog['count'] %}
            评论数量 {{blog['count']}}
          {% else %}
            抢个沙发
          {% end %}
        </td>
      </tr>
    </table>
  </li>
{% end %}
</ul>